.list {
  width: 100%;
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 32px;

  & li {
    flex: 1;
  }
}

.link {
  color: var(--color-scheme-1-text);

  display: block;
  padding: 11px;
  text-align: center;

  border-bottom: 1px solid transparent;

  transition: border-color var(--transition-base);
}

.active {
  border-bottom-color: var(--color-scheme-1-border);
}

@media (min-width: 768px) {
  .list {
    max-width: 644px;
  }
}
