.storySection {
  padding: 32px 0;
}

.storyTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-2-text);
  margin-bottom: 32px;
}

.storyData {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.nameAuthor span,
.published span {
  font-weight: 700;
}

.category {
  background: var(--opacity-neutral-darkest-5);
  border: 1px solid var(--opacity-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 4px 10px;
  max-width: fit-content;

  font-size: 12px;
}

.wrapImg {
  height: 223px;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;

  & img {
    height: auto;
  }
}

.descr {
  margin-bottom: 24px;
}

.saveStoryBox {
  border: 0px solid var(--color-scheme-1-border);
  background: var(--color-scheme-1-foreground);
  border-radius: 24px;
  padding: 32px 20px;
}

.saveStorytitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 16px;
}

.saveStoryDescr {
  margin-bottom: 16px;
}

.saveStoryBtn {
  width: 100%;
  min-height: 48px;
}

@media (min-width: 768px) {
  .storyTitle {
    font-size: 48px;
  }

  .storyData {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  .wrapImg {
    height: 469px;
  }

  .saveStoryBox {
    max-width: 418px;
    padding: 32px;
  }
}

@media (min-width: 1440px) {
  .storySection {
    padding: 48px 0;
  }

  .storyTitle {
    line-height: 110%;
  }

  .nameAuthor span,
  .published span {
    font-size: 18px;
  }

  .category {
    font-size: 16px;
  }

  .wrapImg {
    height: 94vh;
    margin-bottom: 96px;
  }

  .contentBox {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }

  .descr {
    margin: 0;
    font-size: 18px;
  }

  .saveStoryBox {
    flex-shrink: 0;
  }

  .saveStorytitle {
    font-size: 26px;
  }

  .saveStorytitle {
    font-size: 18px;
  }

  .saveStoryBtn {
    font-size: 18px;
  }
}
