.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.list li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li a svg {
  width: 32px;
  height: auto;
}

@media (min-width: 768px) {
  .list {
    gap: 12px;
  }

  .list li a svg {
    width: 24px;
  }
}
