@import '/node_modules/modern-normalize/modern-normalize.css';

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
