.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.list a {
  padding: 8px 0;
}

.list a:hover,
.list a:focus {
  color: var(--color-royal-blue);
  transition: all var(--transition-base);
}

.pad {
  min-width: 130px;
  height: 35px;
}

@media (min-width: 768px) {
  .list {
    flex-direction: row;
    gap: 32px;
  }
}

@media (min-width: 1440px) {
  .list a {
    font-size: 18px;
  }
}
