.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.list a {
  border-radius: 8px;
  padding: 0px 8px;
  padding: 5px 8px;
}

.list a:hover,
.list a:focus {
  box-shadow: 0 0 0 1px var(--color-scheme-1-text);
  transition: all var(--transition-base);
  outline: none;
}

.list a:active {
  background-color: var(--color-neutral-lighter);
  transition: all var(--transition-base);
}

.pad {
  min-width: 130px;
  height: 35px;
}

@media (min-width: 768px) {
  .list {
    flex-direction: row;
    gap: 32px;
  }
}

@media (min-width: 1440px) {
  .list a {
    font-size: 18px;
  }
}
