.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLink {
  font-size: 18px;
  color: var(--color-scheme-1-background);
}

/* .headerLink:hover,
.headerLink:focus {
  opacity: 0.5;
  transition: all var(--transition-base);
} */
