.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > a {
  flex: 1;
}

.classList li:not(:last-child) a {
  color: var(--color-scheme-1-background);
}

.classList li:not(:last-child) a:hover,
.classList li:not(:last-child) a:focus {
  color: var(--color-scheme-1-background);
  box-shadow: 0 0 0 1px var(--color-white);
}

button[type='button'] {
  margin-left: 16px;
}
