.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > a {
  flex: 1;
}

.classList a {
  color: var(--color-scheme-1-background);
  padding: 15px 0;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

button[type='button'] {
  margin-left: 16px;
}
