.travellers {
  margin-top: 0;
  padding: 64px 0;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  .title {
    font-size: 44px;
  }

  .viewMoreBtn {
    min-width: 150px;
    min-height: 48px;

    margin: 0 auto;
    margin-top: 36px;
  }
}

@media (min-width: 1440px) {
  .travellers {
    padding: 72px 0;
  }

  .title {
    font-size: 52px;
  }
}
