.cover {
  display: inline-block;
  margin-bottom: 8px;
  color: var(--color-scheme-2-text);
}

.form,
.wrapContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wrapImg {
  border-radius: 16px;
  width: 100%;
  height: 223px;
  overflow: hidden;
}

.wrapImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uploadPhotoBtn {
  max-width: 163px;
}

.wrapField {
  display: flex;
  flex-direction: column;
  color: var(--color-scheme-2-text);
}

.wrapField > label {
  margin-bottom: 8px;
}

.error {
  font-size: 12px;
  color: red;
}

.wrapField input,
.wrapField textarea,
.wrapField select {
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 8px;
  padding: 8px;
  min-height: 40px;
  background: var(--opacity-transparent);
  resize: none;
}

.wrapSelect {
  position: relative;
}

.wrapSelect select {
  width: 100%;
  appearance: none; /*hide default arrow*/
  -webkit-appearance: none;
  -moz-appearance: none;
}

.placeholder {
  color: var(--opacity-neutral-darkest-60);
}

.arrowDown {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%) rotate(0deg);
  pointer-events: none;
}

.wrapField textarea {
  min-height: 120px;
}

.wrapField textarea[name='article'] {
  min-height: 180px;
  height: auto;
}

.wrapButtons,
.saveButtons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.deleteStory {
  background-color: red;
  color: white;
  margin-top: auto;
  flex-shrink: 0;
}

.wrapButtons button {
  min-height: 48px;
}

@media (min-width: 768px) {
  .wrapImg {
    height: 469px;
  }
}

@media (min-width: 1440px) {
  .form {
    flex-direction: row;
  }

  .cover {
    font-size: 18px;
  }

  .wrapContent {
    width: 865px;
    flex-shrink: 0;
  }

  .wrapImg {
    height: 576px;
  }

  .uploadPhotoBtn {
    max-width: 181px;
    height: 35px;
  }

  .wrapField > label {
    font-size: 18px;
  }

  .wrapField input,
  .wrapField textarea,
  .wrapField select {
    min-height: 43px;
    font-size: 18px;
  }

  .wrapButtons {
    width: 100%;
  }

  .saveButtons {
    gap: 24px;
    position: sticky;
    top: 24px;
  }

  .deleteStory {
    position: sticky;
    bottom: 24px;
  }
}
