.shared {
  border-radius: 8px;
  padding: 4px;
  min-width: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
}

.shared:hover,
.shared:focus {
  transition: all var(--transition-base);
}

.shared:disabled {
  opacity: 0.3;
  cursor: auto;
}

.primary {
  border: 1px solid var(--color-royal-blue);
  background-color: var(--color-royal-blue);
}

.primary:not(.disabled):hover,
.primary:not(.disabled):focus {
  border: 1px solid var(--color-royal-blue);
  background-color: var(--color-royal-blue-lighter);
  color: var(--color-scheme-2-text);
}

.primary:not(.disabled):active {
  border: 1px solid var(--color-royal-blue);
  background: var(--color-royal-blue-light);
  color: var(--color-scheme-2-text);
}

.secondary {
  border: 1px solid var(--color-scheme-2-border);
  background-color: var(--opacity-neutral-darkest-5);
  color: var(--color-neutral-darkest);
}

.secondary:not(.disabled):hover,
.secondary:not(.disabled):focus {
  border: 1px solid var(--opacity-transparent);
  background-color: var(--color-royal-blue);
  color: var(--color-white);
}

.secondary:not(.disabled):active {
  border: 1px solid var(--opacity-transparent);
  background: var(--color-royal-blue-darker);
  color: var(--color-white);
}

.accent {
  border: 1px solid var(--color-white);
  background: var(--color-white);
  color: var(--color-neutral-darkest);
}

.accent:not(.disabled):hover,
.accent:not(.disabled):focus {
  border: 1px solid var(--color-white);
  background: var(--color-neutral);
  color: var(--color-white);
}

.accent:not(.disabled):active {
  border: 1px solid var(--color-neutral);
  background: var(--color-neutral-dark);
  color: var(--color-white);
}

.accent2 {
  border: 1px solid var(--opacity-transparent);
  background: var(--opacity-white-10);
  color: var(--color-white);
}

.accent2:not(.disabled):hover,
.accent2:not(.disabled):focus {
  border: 1px solid var(--opacity-transparent);
  background: var(--color-royal-blue-lighter);
  color: var(--color-scheme-1-text);
}

.accent2:not(.disabled):active {
  border: 1px solid var(--opacity-transparent);
  background: var(--color-royal-blue-light);
  color: var(--color-scheme-1-text);
}

.disabled,
.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
